*{
    margin: 0px;
    padding: 0px;
}
.container{
background-color: rgb(185, 244, 224);
height: 100vh;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}
header{
    display: flex;
    justify-content: center;
    font-size: 30px;
    color: #e05915;
    font-weight: bold;
    font-family:sans-serif;
    margin: 0px 0px 20px 20px;
}
.insider{
    background-color: #c2dde6;
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    border-radius:8px;
    padding: 20px;
}
.button{
    padding:9px;
    background-color: blue;
    border-style: none;
    border-radius: 6px;
    color: white;
    width: 40%;
    align-self: center;
    margin-top: 10px;
}
.button:hover{
    background-color: green;
}
p{
    color: red;
    align-self: center;
}
